body {
   background: #fff;
   line-height: 1.3em;
   text-align: center;
}
#page {
   padding: 0;
   margin: 20px auto;   
   text-align: left;
   width: 1000px;
} 
h1 {
   margin-bottom: 20px;
   font-family: Georgia, "Times New Roman", Times,Serif;
   font-size: 197%;
   color: #3c3;
}
h2 { 
   color: #666;   
   background: url(../i/rounded-10.png) no-repeat left bottom; 
   line-height: 1.5em;
}
h2, h3 {
   font-weight: bold;  
   font-size: 152%; 
}
h3 {
   margin: 10px 0 0 8px;
   font-weight: bold;
   font-size: 121%;
   color: #777;
}
h2 span{   
   padding-left: 10px; 
   display: block;
   background: url(../i/rounded-10.png) no-repeat right top; 
} 
a {
   color: #363;
   text-decoration: none;
} 
a:visited {
   color: #393;
}
a:hover {
   text-decoration: underline;
}
p {
   padding-left: 10px;
   color: #333;
   margin-top: 10px;
} 
#pri, #sec, #ter {
   float: left;
   margin-right: 10px;
}
#pri{
   width: 500px;
}               
#sec, #ter{
   width: 240px;
}               
#ter {         
   margin-right: 0;
}
.call {
   font-weight: bold;
   font-size: 121%;
}
#bookmarks {
   margin: 10px 0;
   list-style: disc;
}
#bookmarks li {
   margin: 0 0 5px 20px;
   line-height: 1.3em;
}
#bookmarks li span {
   display: block;
   color: #777;
}
#footer {
   clear: left;
   border-top: 1px dotted #777;
   text-align: right;
}
#footer p {
   float: left;
}
#footer form {
   margin-top: 5px;
} 