body {
   background: #fff;
   margin: 10px 0;
   text-align: center;
}
#page {
   width: 760px;
   margin: 0 auto;
   text-align: left;
}
#content {
   margin-bottom: 10px;
}
h1 {
   font-size: 153.9%;
   text-transform: uppercase;  
   padding: 7px 0 5px 0;
   color: #666;  
   text-align: right;
}
h2 {
   padding: 10px 0;
   font-weight: bold;
   font-size: 109%;
}
h3 {
   background: #eee;
   padding: 7px;
   font-weight: bold;
}
h4 {
   font-style: italic;
}
h2, h3, h4 {
   margin: 10px 0;
}
a {
   color: #363;
   text-decoration: none;
} 
a:visited {
   color: #393;
}
a:hover {
   text-decoration: underline;
}
img {
   border: none;
}
dt {
   border-bottom: 1px solid #777;
   padding: 7px 0;
   margin: 10px 0;
   font-weight: bold;
}
dd {
   margin: 0;
}
em {
   color: #393;
}
table {
   border-collapse: collapse;
}
th {
   border-bottom: 2px solid #555;
   padding-bottom: 2px;
} 
td {
   border-bottom: 1px solid #777;
   padding: 2px;
}
pre {
   width: 582px;
}
#menu {      
   background: #f6f6f6;
   border: 2px solid #777;
   border-width: 2px 0;
   padding: 3px 0;  
   margin-top: 5px;
   text-align: right;
   
} 
#menu ul {
   float: left;
   margin-top: 3px;
}
#menu li {  
   float: left;
   margin-right: 10px;
   font-size: 120%;
   font-weight: lighter;
   text-transform: uppercase;
}

#menu li a {
   display: block;
   padding: 3px 5px;  
}
#menu li a:hover {
   text-decoration: none;
}
#menu li.active a, #menu li.active a:link, #menu li.active a:visited {  
   border-top: 1px solid #06c345;    
   border-left: 1px solid #06c345;    
   border-right: 1px solid #393;    
   border-bottom: 1px solid #393;    
   background: #3c3;
   margin-top: -2px;
   color:#fff; 
}
#menu form, #menu div {
   display: inline;
}
#menu form label {
   color: #666;
}
#menu form input {
   font-size: 85%;
}    
#your-language {
   margin: 10px 0;
   font-size: 85%;
   text-align: right;
}
#main {
   width: 600px;
   margin-right: 10px;
}
#sidebar {
   width: 150px;
}
#main, #sidebar {
   float: left;
}
#main h2 {
   background: #393;
   padding: 3px;
   color: #fff;
}
#result {
   position: relative;
   background: #eee;
   border: 1px solid #777;
   padding: 7px;
   margin: 10px 0;
}
#result .close {
   position: absolute;
   top: 11px;
   right: 12px;
   font-size: 85%;
   color: #fff;
}
#result .code-container {
   border: 1px solid #ccc;
   overflow: auto;
   width: 582px;
   height: 200px;
}
#result .background-example {
   margin-bottom: 10px;
}
#options fieldset { 
   border: 2px solid #393;
   padding: 20px;
   margin-bottom: 20px;
   /* containing floats */
   overflow: hidden;
   zoom: 1;
}
#options legend {
   font-weight: bold;
   font-size: 130%;
   color: #393;
}
#options label {
   clear: left;
   display: block;
   width: 17em;
}
#options span {
   width: 12em;
   margin-left: 5px;
   font-size: 92%;
}
#options label, #options span {
   line-height: 1.7em;
}
#options label, #options input, #options select, #options span {
   float: left;
   margin-bottom: 5px;
}
#file-container {
   float: left;
}
#file-container input, #file-container span {
   float: none;
}
#options .duplicates label {
   width: 25em;
}
#options .sub {
   float: none;
}
#options span, #options .optional {
   color: #555;
}
#options .show {
   display: block;
}
#options .hide {
   display: none;
}
#options label.error {
   color: #f00;
}
#error, #options input.error {
   background: #fcc;
   border: 1px solid #f00;
}
#error {
   margin-bottom: 10px;
}
#error h2 {
   background: none;
   color: #000;
}
#error ul {
   width: 582px;
   margin-top: 10px;
   padding: 0 7px 3px 7px;
   list-style: disc;
}
#error li {
   margin: 0 0 7px 15px;
}
#footer { 
   clear: left;
   border-top: 1px solid #777;
   padding-bottom: 20px;
   margin: 10px 0;
   font-size: 93%;
   color: #333;
   text-align: right;
}
#footer p {
   float: left;
   margin: 5px 0;
}
#footer form {
   margin-top: 5px;
}      
#options input.submit {
   float: none;
}    
a.download, input.submit {  
   border: 3px double #999;
   border-top-color: #CCC;
   border-left-color: #CCC;
   padding: 0.25em;
   color: #333;
   font: 85%;          
}
a:hover.download {
   text-decoration: none;
}
  
a:active.download, input.submit:active {
   border: 3px double #CCC;
   border-top-color: #999;
   border-left-color: #999;   
}
.credits {
   list-style: disc;
}
.credits li {
   margin: 0 0 5px 15px;
}
#sidebar .ad {
   background: #cfc;
   border: 2px solid #393;
   width: 146px;
   padding: 30px 0;
   margin: 8px 0;
   font-weight: bold;
   text-align: center;
}
#sidebar h2 {
   border-bottom: 2px solid #393;
   padding-bottom: 3px;
   margin-bottom: 10px;
   color: #393;
}
#text-links {
   list-style-type: disc;
   margin-left: 15px;
}
#text-links li {
   margin-bottom: 5px;
}
.lang-cn #options input.submit {
   width: 15em;
}