#header, #frame {
   zoom: 1;
}
#menu ul {
   margin-top: 1px; /* adjust position - doesn't look quite centered otherwise */
}
#menu label { /* language label sits aligned with bottom of select box unless we shift */
   position: relative;
   top: -3px;
}
#options fieldset{
    padding: 0 7px;
}
#options span.help{
    margin-left: 17em;
}
a.download, input.submit { /* buttons look wrong with default padding */
   padding: 0.1em;
}
/* PF_REMOVE */
.ads {
   width: 100%;
}
/* END_PF_REMOVE */
